= form_for classe_therapeutique, html: {class: "form-inline"}, remote: true do |f|
  = f.text_field :name, placeholder: "Nom"
  = f.submit 'Sauvegarder', class: "btn"
  = link_to "Annuler", "#", class: "btn btn-danger cancel-edit" if params[:id]
