- title "Liste des Classes Thérapeutiques"

%table.table.table-condensed.table-striped.table-bordered
  %tbody.classe_therapeutiques
    = render @classe_therapeutiques

%p= link_to "Nouvelle Classe", new_classe_therapeutique_path, class: "btn btn-success new_ct_link", remote: true
