- title "Liste des Classes Thérapeutiques"

#classe_therapeutiques= render 'classe_therapeutiques'

#paginator= paginate @classe_therapeutiques, theme: "bootstrap", remote: true

%p= link_to "Nouvelle Classe", new_classe_therapeutique_path, class: "btn btn-success new_ct_link", remote: true
