- title "Liste des Classes Thérapeutiques"

%table.table.table-condensed.table-striped.table-bordered
  %tbody
  - @classe_therapeutiques.each do |classe_therapeutique|
    - if !classe_therapeutique.dcis.with_valid_fiches.empty? || can?(:create, ClasseTherapeutique)
      %tr
        %td= link_to h(classe_therapeutique.name), classe_therapeutique
        - if can?(:create, ClasseTherapeutique)
          %td= pluralize(classe_therapeutique.classifications.size, 'dci')
          %td= actions_buttons(classe_therapeutique)
