- title @classe_therapeutique.name, false

%h1.float_left= @classe_therapeutique.name

- actions_buttons(@classe_therapeutique)

.clear

- if !@classe_therapeutique.dcis.blank?
  %table#list
    - @classe_therapeutique.dcis.each do |dci|
      = render 'shared/dci_line', :dci => dci
- else
  Il n'y a pas de DCI pour cette classe
