- title "Classe Therapeutique"

%p
  %strong Name:
  =h @classe_therapeutique.name

- if has_role? :admin
  %p
    %strong Stripped Name:
    =h @classe_therapeutique.stripped_name

%p
  = link_to "Edit", edit_classe_therapeutique_path(@classe_therapeutique)
  |
  = link_to "Destroy", @classe_therapeutique, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", classe_therapeutiques_path
