- title @classe_therapeutique.name, false

%h1.float_left= @classe_therapeutique.name

- actions_buttons(@classe_therapeutique)

.clear

- if !@classe_therapeutique.dcis.blank?
  %table#list
    - @classe_therapeutique.dcis.each do |dci|
      - if can? :show, dci
        %tr{:class => "#{cycle('odd', 'even')}"}
          %td= link_to dci.name, dci_path(dci)
          %td
            - actions_buttons(dci)
- else
  Il n'y a pas de DCI pour cette classe
