- title @classe_therapeutique.name, actions_buttons(@classe_therapeutique)

- if @classe_therapeutique.dcis.any?
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th &nbsp;
    %tbody
      - @classe_therapeutique.dcis.each do |dci|
        = render 'shared/dci_line', dci: dci
- else
  Aucune DCI pour cette classe

= link_to 'Retour à la liste', classe_therapeutiques_path,
  class: 'btn btn-primary'
