- title @classe_therapeutique.name

- if @classe_therapeutique.dcis.any?
  %table.table.table-condensed.table-striped.table-bordered
    %tr
      %th Liste des DCIs
      - if can? :create, Dci
        %th Actions
    - @classe_therapeutique.dcis.each do |dci|
      = render 'shared/dci_line', dci: dci
- else
  Aucune DCI pour cette classe

%p= link_to "Retour à la liste", classe_therapeutiques_path, class: "btn"
