- title @classe_therapeutique.name, false

%h1.float_left= @classe_therapeutique.name

- actions_buttons(@classe_therapeutique)

.clear

.clear

- if !@classe_therapeutique.dcis.blank?
  %table#list
    %tr
      %th Liste des DCIs
      %th &nbsp;
    - @classe_therapeutique.dcis.each do |dci|
      = render 'shared/dci_line', :dci => dci
- else
  Aucune DCI pour cette classe
