- title @classe_therapeutique.name

%ul.edit_actions
  - if can? :edit, ClasseTherapeutique
    %li= link_to "Modifier cette classe", edit_classe_therapeutique_path(@classe_therapeutique)
  - if can? :delete, @dci
    %li= link_to "Détruire cette classe", @classe_therapeutique, :confirm => 'Are you sure?', :method => :delete

- if !@classe_therapeutique.dcis.blank?
  %h2 Liste des DCIs
  %table#list
    - @classe_therapeutique.dcis.each do |dci|
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= link_to dci.name, dci_path(dci)
        %td
          - actions_buttons(dci)
- else
  Il n'y a pas de DCIs pour cette classe
