- semantic_form_for @search , :url => { :action => "search" } do |f|
  - f.inputs do
    = f.input :stripped_name_like, :label => "Par principe actif"
    = f.input :specialites_stripped_name_like, :label => "Par spécialité"
    = f.commit_button 'OK'
