- title "Modification de la DCI : #{@dci.name}"

= render 'form', :dci => @dci, :classe_therapeutiques => @classe_therapeutiques

%p
  = link_to "Annuler", dci_path(@dci)
  |
  = link_to "Retour à la liste des DCI", dcis_path
