- title "Liste des DCI"

%table
  - for dci in @dcis
    %tr
      %td= link_to(h(dci.name.humanize), dci)
      %td= link_to 'Edit', edit_dci_path(dci)
      %td= link_to 'Destroy', dci, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Dci", new_dci_path
