- title "Rechercher une DCI"

= render "search_form"

- if params[:search]
  %table#list
    %thead
      %tr
        %th DCI
        %th Spécialité(s)
        %th Classe(s) Thérapeutique(s)
    = render @dcis
