- title "Rechercher un médicament"

= render "search_form"

- if params[:search]
  - if @dcis.empty?
    - unfructuous_search
  - else
    %table#list
      %thead
        %tr
          %th DCI
          %th Spécialité(s)
          %th Classe(s) Thérapeutique(s)
      %tbody
        = render @dcis
