- title "Recherche de produits"

- if @dcis.empty?
  %h2 Aucun résultat

- else
  %h2= pluralize(@dcis.size, 'résultat')
  %ul.dcis
    = render @dcis

%p= link_to "Nouvelle DCI", new_dci_path if can? :create, @dci
