*.html
.bundle
.DS_Store
*.swp
*.swo
*~
log/*.log
tmp/**/*
nbproject/*
coverage/*
config/database.yml
db/*.sqlite3
db/*.sqlite3-journal
rerun.txt
coverage.data
coverage/*
vendor/ruby
vendor/cache
rails/
lib/tasks/rcov.rake
lib/tasks/rspec.rake
lib/tasks/cucumber.rake
vendor/ruby
*.dump
.sass-cache/
