*.html
.bundle
.DS_Store
*.swp
*~
log/*.log
tmp/**/*
nbproject/*
coverage/*
config/database.yml
db/*.sqlite3
db/*.sqlite3-journal
rerun.txt
vendor/gems/
vendor/gems/gems/*
vendor/gems/specifications/*
vendor/gems/doc*
vendor/gems/environment.rb
rails/
