- title 'Décisions'

%table.table.table-striped
  %tr
  - for decision in @decisions
    %tr
      %td= link_to decision.name, decision
      %td
        .pull-right= actions_buttons(decision)

= link_to 'Nouvelle DECISION', new_decision_path, class: 'btn btn-warning'
