- title "Decision"

%p
  %strong Name:
  =h @decision.name
%p
  %strong Description:
  =h @decision.description

%p
  = link_to "Edit", edit_decision_path(@decision)
  |
  = link_to "Destroy", @decision, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", decisions_path
