- title "Decision", actions_buttons(@decision)

%dl.dl-horizontal
  %dt Libéllé :
  %dd= @decision.name
  %dt Description :
  %dd= @decision.description

= link_to 'Retour à la liste', decisions_path, class: 'btn btn-primary'
