%tr
  %td= link_to h(produit.name), produit
  %td= h produit.decision.name rescue ""
  %td= h produit.state.humanize rescue "" if permitted_to? :update, :produits
  %td= link_to "Modifier", edit_produit_path(produit) if permitted_to? :edit, produit
