<% title "Produits" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <%= render :partial => @produits %>
</table>

<p><%= link_to "Nouveau produit", new_produit_path if permitted_to? :new, @produit %></p>
<p><%= link_to "Produits non validés", nonvalidated_produits_path if permitted_to? :nonvalidated, :produits %></p>
<p><%= link_to "Accueil", root_path %></p>
