- title "Produits à valider"
- if @produits.empty?
  %h2 Tous les produits ont étés validés.
- else
  %table
    %tr
      %th Nom
    = render :partial => @produits
%p= link_to "Nouveau produit", new_produit_path if permitted_to? :new, @produit
%p= link_to "Accueil", root_path
