<% title "Produit" %>

<p>
  <strong>Name:</strong>
  <%=h @produit.name %>
</p>

<p>
  <%= link_to "Edit", edit_produit_path(@produit) %> |
  <%= link_to "Destroy", @produit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", produits_path %>
</p>
