= simple_form_for distinction, html: { role: 'form' } do |f|
  = f.input :name
  .pull-right
    = link_to 'Annuler', :back, 'data-confirm': t('confirm'), class: 'btn btn-link'
    = f.button :submit
