- title "Liste des distinctions"

%table
  - for distinction in @distinctions
    %tr
      %td= h distinction.name
      - if can? :update, Distinction
        %td= link_to 'Modifier', edit_distinction_path(distinction)
      - if can? :delete, Distinction
        %td= link_to 'Détruire', distinction, :confirm => 'Are you sure?', :method => :delete

- if can? :create, Distinction
  %p= link_to "Rajouter une distinction", new_distinction_path
