- title 'Liste des distinctions'

%table.table.table-striped
  - @distinctions.each do |distinction|
    %tr
      %td= distinction.name
      %td
        .pull-right= actions_buttons(distinction)

= link_to "Nouvelle DISTINCTION", new_distinction_path,
  class: 'btn btn-warning' if can? :create, Distinction
