/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset ol li label { display:block; width:11em; float:left; padding-top:.2em; text-align: right; margin-right: 1em;}
form.formtastic fieldset ol li.commit input { margin-left:12em;}

form.formtastic fieldset ol li.string input { width:40%; }
form.formtastic fieldset ol li.password input { width:40%; }
form.formtastic fieldset ol li.numeric input { width:40%; }

