html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font: 85%/1.3 TrebuchetMS, Arial, sans-serif;
  text-align: left;
  background: white;
  padding-bottom: 20px; }

a {
  color: #0066b3;
  background: inherit;
  text-decoration: none; }

h1 {
  font: bold 2.1em Arial, Arial, Sans-Serif;
  color: #036da7;
  margin-top: 0; }

h2 {
  font: bold 1.1em Arial, Arial, Sans-Serif;
  padding: 0;
  margin: 0; }

div#header {
  width: 100%;
  overflow: hidden;
  background: #bbd9ee; }
  div#header h1 {
    width: 770px;
    margin: 0 auto;
    text-align: left; }
div#menu {
  width: 770px;
  margin: 0 auto;
  text-align: left; }
div#header h1 {
  padding: 30px 0 20px;
  color: black; }

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  font-size: 80%; }
  ul#nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 3px;
    text-align: center; }
  ul#nav a {
    float: left;
    width: 95px;
    padding: 5px 0;
    background: #e7f1f8;
    text-decoration: none;
    color: #666666;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; }
    ul#nav a:hover {
      background: white;
      color: black; }
  ul#nav li.activelink a {
    background: white;
    color: #000033; }
    ul#nav li.activelink a:hover {
      background: white;
      color: #000033; }
  ul#nav span.add_record a {
    width: 1em; }

#left {
  float: left;
  width: 76%;
  padding: 1em;
  margin-bottom: 1.2em;
  background: #eeeeee; }

#right {
  float: right;
  width: 20%;
  margin: 0 0 10px 0; }
  #right .box {
    padding: 1em;
    margin: 0 0 1em 0;
    background: #fff6bf; }

#content {
  font: 100%/1.3 TrebuchetMS, Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  background: white; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

/* My personalizations */
h1.dci_title {
  float: left;
  margin-bottom: 0; }

.news {
  font-size: smaller; }
  .news ul li ul {
    margin-left: 1em; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.odd {
  background: #eeeeee; }

.even {
  background: white; }

.search form label {
  line-height: 2em; }
.search form input {
  border: 1px solid #0000cc;
  background: #ebebeb;
  margin: 0 0.5em;
  padding: 2px 4px; }
.search input:focus {
  background: white; }
.search input.search_submit {
  background: #0000cc;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 2px 8px;
  text-transform: uppercase; }

form p.inline-hints {
  color: #666666;
  margin: 0.5em 0 0 25%; }

.search form fieldset {
  border: none; }

abbr {
  cursor: help; }

ul.edit_actions {
  width: auto;
  float: right;
  margin: 0;
  background: black;
  color: white; }
  ul.edit_actions li {
    float: left; }
  ul.edit_actions a {
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em; }
    ul.edit_actions a:hover {
      color: black;
      background: white; }

div#fiches {
  clear: both; }
div.fiche {
  background-color: white;
  color: black;
  border: solid 2px #0066b3;
  margin: 5px 0; }
div.fiche_header {
  clear: both;
  margin: 0; }
  div.fiche_header p {
    margin: 0.5em; }

span.safe {
  font-weight: bold;
  color: green; }
span.strong, span.distinction, span.decision {
  font-weight: bolder; }
span.distinction {
  font-size: large; }
span.decision {
  font-size: large;
  text-transform: uppercase;
  padding: 0.25em;
  border: 2px solid; }

#ci {
  background: #ffa880;
  border-color: red; }

/* contre-indiqué */
#ad {
  background: #ffc860;
  border-color: #ff9933; }

/* à discuter */
#comp {
  background: #d7e4bd;
  border-color: #00b050; }

/* compatible */
#sc {
  background: #ffff99;
  border-color: yellow; }

/* sous conditions */
.fields {
  border: 1px solid black; }

.resume {
  background: #ddf0ee;
  padding: 0 0.5em;
  margin: 0; }
  .resume h3 {
    clear: both;
    margin: 0 0.5em 0 0;
    padding: 0; }
  .resume h4 {
    clear: both;
    margin: 0;
    margin-top: 2px;
    margin-left: 1em; }
  .resume p {
    margin: 0;
    margin-left: 2em;
    margin-top: 2px; }
    .resume p.surveillance {
      font-size: small;
      color: #777777;
      font-weight: bold; }
    .resume p.retrait {
      margin-left: 1em; }
    .resume p.alert {
      margin-left: 0;
      color: red;
      font-size: small; }
  .resume ul {
    margin-left: 2em; }
  .resume a {
    color: #036da7; }
    .resume a:hover {
      text-decoration: underline; }

.argumentaire {
  font-size: 80%; }
  .argumentaire table {
    border-collapse: collapse; }
    .argumentaire table td {
      padding: 0 1em; }

table th {
  padding: 0 1em; }

.argumentaire table td {
  background: #f0f0f0; }
.argumentaire table th {
  text-align: right; }

.fiche_footer {
  background: black;
  color: white;
  padding: 0;
  margin: 0; }

.validation {
  font-size: 80%; }
  .validation a {
    color: #00ffee; }

table#fiches, table#classes_therap {
  border-collapse: collapse; }
  table#fiches th, table#fiches td, table#classes_therap th, table#classes_therap td {
    padding: 0 0.5em; }
  table#fiches tr.odd, table#classes_therap tr.odd {
    background: #dddddd; }
  table#fiches tr.even, table#classes_therap tr.even {
    background: white; }

ul.inline li {
  float: left;
  padding-right: 1em; }
ul.actions {
  padding: 0;
  margin: 0; }
  ul.actions li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    ul.actions li form.button-to {
      display: inline;
      margin: 0; }
  ul.actions input {
    padding: 0;
    margin: 1px;
    font-weight: bold; }

input.edit_button {
  background: #ffdd00;
  border-left-color: yellow;
  border-top-color: yellow;
  border-bottom-color: #ff9900;
  border-right-color: #ff9900; }

input.go_button {
  background: green;
  color: white;
  border-left-color: #00bb00;
  border-top-color: #00bb00;
  border-bottom-color: #009900;
  border-right-color: #009900; }

input.destroy_button {
  background: #cc0000;
  color: white;
  padding: 0;
  border-left-color: red;
  border-top-color: red;
  border-bottom-color: #990000;
  border-right-color: #990000; }
