html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;padding-bottom:20px}
a { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;overflow:hidden;background: #BBD9EE; }
div#header h1,div#menu{width:770px;margin:0 auto;text-align:left}
div#header h1{padding: 30px 0 20px;color: black}

ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0}
ul#nav{float:right;font-size: 80%}
ul#nav li{float:left;margin-left: 3px;text-align: center}
ul#nav a{float:left;width: 95px;padding: 5px 0;background: #E7F1F8;text-decoration:none;color: #666; border-top : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;}
ul#nav a:hover{background: #fff;color: #000}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}

#left {
  float: left;
  width: 76%;
  padding: 1em;
  margin-bottom: 1.2em;
  background: #eee;
  text-align: justify;
}

#right {
  float: right;
  width: 20%;
  margin: 0 0 10px 0;
}

#right .box {
  padding: 1em;
  margin: 0 0 1em 0;
  background : #FFF6BF;
}


#content {
font: 100%/1.3 TrebuchetMS,Arial,sans-serif;
  margin: 0 auto;
  padding: 15px;
  background: #fff;
}

ul {  padding: 0; margin: 0;}
li { list-style-type: none;}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* My personalizations */

.float_left { float:left;}
.float_right { float:right;}

table { border-collapse:collapse;}
table td, table th { padding: 0 1em;}

.odd { background: #eee;}
.even { background: #fff;}

div#fiches { clear:both; }

div#fiche { background-color: #fff; color: black; border: solid 1px black; padding: 1em; margin-bottom: 5px; margin-top: 10px; }
div#fiche a:hover { color: black; }

.search form label { line-height: 2em; }
.search form input { border: 1px solid #00c; background: #ebebeb; margin: 0 .5em; padding: 2px 4px; }
.search input:focus { background: #fff; }
.search input.search_submit { background: #00c; border: 0; color: #fff; cursor: pointer; font-size: .9em; font-weight: bold; letter-spacing: .1em; padding: 2px 8px; text-transform: uppercase; }

abbr { cursor: help; }

ul.dci_nav { width: auto; float: right; margin: 0; margin-bottom: 1em; background: black; color: white; }
ul.dci_nav li { float:left; border-right: 1px solid white;}
ul.dci_nav a { color: white; padding-left: .5em; padding-right: .5em;}
ul.dci_nav a:hover { color: black; background: white; }

ul.fiche_nav { float: right;}
ul.fiche_nav li { float:left; border-right: 1px solid white;}
ul.fiche_nav a { color: black; padding-left: .5em; padding-right: .5em;}
ul.fiche_nav a:hover { text-decoration: underline;  }


#validation dl { margin: .5em;}
#validation dt { float:left; font-weight: bold; clear: left;}
#validation dt:after { content: " : ";}
#validation dd { float:left; margin-left: .5em;}

#argumentaire dl { margin: .5em;}
#argumentaire dt { float:left; font-weight: bold; clear: left;}
#argumentaire dt:after { content: " : ";}
#argumentaire dd { float:left; margin-left: .5em;}

.decision { text-transform:uppercase; font-weight:bold; padding: .25em; border: 2px solid;}

#decision_1 { background:#ffa880; border-color:red} /* contre-indiqué */
#decision_2 { background:#ffc860; border-color:rgb(255,153,51);} /* à discuter */
#decision_3 { background:rgb(215,228,189); border-color:rgb(0,176,80);} /* compatible */
#decision_4 { background:rgb(255,255,153); border-color:yellow;} /* sous conditions */

.fields { border: 1px solid black;}

form p.inline-hints { color:#666; margin:0.5em 0 0 25%; }
form fieldset { background: #E7F1F8; border: 1px solid #00c;}
