- title 'Utilisateurs'

%table.table.table-striped
  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.admin? ? "admin" : user.role
      %td
        .pull-right= actions_buttons(user, 'utilisateur')

%p= link_to "Nouvel UTILISATEUR", new_user_path,
  class: 'btn btn-warning' if can?(:create, User)
