- title 'Utilisateurs'

%table.table.table-striped
  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.admin? ? "admin" : user.role
      %td
        .pull-right= actions_buttons(user)

%p= link_to "Nouvel utilisateur", new_user_path, class: 'btn btn-primary' if can?(:create, User)
