.anylinkcss#submenu1
  %ul
    %li= link_to "Décisions", decisions_path
    %li= link_to "Distinctions", distinctions_path
    %li= link_to "Utilisateurs", users_path
    %li= link_to "Sources", sources_path
