= javascript_include_tag 'anylinkcssmenu'
/***********************************************/
/* AnyLink CSS Menu script v2.0- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
/* This notice MUST stay intact for legal use
/* Visit Project Page at http://www.dynamicdrive.com/dynamicindex1/anylinkcss.htm for full source code
/***********************************************/

%script{:type => "text/javascript"}
  //anylinkcssmenu.init("menu_anchors_class") ////Pass in the CSS class of anchor links (that contain a sub menu)
  anylinkcssmenu.init("anchorclass")
