.search
  - form_tag search_dcis_path, :method => :get do
    %fieldset
      = label_tag :search, "Recherche"
      = text_field_tag "search[name_or_stripped_name_or_specialites_name_or_classe_therapeutiques_name_or_classe_therapeutiques_stripped_name_like]", params[:search][:name_or_stripped_name_or_specialites_name_or_classe_therapeutiques_name_or_classe_therapeutiques_stripped_name_like]
      = submit_tag "Go", :name => nil, :class => "search_submit"
