- title "Page d'administration des tables"

%h3= link_to "Gestion des Décisions", decisions_path
%h3= link_to "Gestion des Distinctions", distinctions_path
%h3= link_to "Gestion des Utilisateurs", users_path
%h3= link_to "Gestion des Sources", sources_path
