= simple_form_for page, html: {class: "form-horizontal"} do |f|
  = f.input :title, label: "Titre", input_html: {class: "input-xxlarge"}
  = f.input :content, label: "Contenu", input_html: {rows: 8, class: "input-xxlarge"}
  .form-actions
    = f.button :submit
