- title 'Liste des Pages'

%table.table.table-striped
  %tr
    %th Nom (lien)
    %th Titre
    %th Actions
  - @pages.each do |page|
    %tr
      %td= link_to page.permalink, page
      %td= page.title
      %td= actions_buttons(page)

= link_to "Créer une Page", new_page_path, class: 'btn btn-primary'
