- title "Connexion"

= simple_form_for resource, as: resource_name, url: session_path(resource_name),
  html: { class: 'form-horizontal', role: 'form' }, wrapper: :horizontal_form,
  wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean } do |f|

  = f.input :username
  = f.input :password

  = f.button :submit, 'Se connecter', class: 'btn-primary pull-right'
