= simple_form_for specialite, html: { role: 'form' } do |f|
  = f.input :name
  .pull-right
    = link_to 'Annuler', :back, class: 'btn btn-link',
      'data-confirm': t('confirm')
    = f.button :submit
