- title 'Liste des Spécialités'

= content_for :subtitle do
  = link_to 'Création', new_specialite_path,
    class: 'btn btn-warning' if can?(:create, Specialite)

%table.table.table-condensed.table-striped
  - @specialites.each do |specialite|
    - if specialite.dcis.with_valid_fiches.any? || current_user
      %tr
        %td= link_to specialite.name, specialite
        %td
          .pull-right= actions_buttons(specialite)
