- title @specialite.name, false

%h1.float_left= @specialite.name

- actions_buttons(@specialite)

.clear

- if !@specialite.dcis.blank?
  %h2 Composition :
  %table#list
    - @specialite.dcis.each do |dci|
      = render 'shared/dci_line', :dci => dci
- else
  Cette possibilité ne doit pas exister... pas de spécialités sans DCI normalement
