- title @specialite.name, false

%h1.float_left= @specialite.name

- actions_buttons(@specialite)

.clear

- if !@specialite.dcis.blank?
  %h2 Composition :
  %table#list
    - @specialite.dcis.each do |dci|
      - if can? :show, dci
        %tr{:class => "#{cycle('odd', 'even')}"}
          %td= link_to h(dci.name), dci_path(dci)
          %td
            - actions_buttons(dci)
- else
  Cette possibilité ne doit pas exister... pas de spécialités sans DCI normalement
