- title @specialite.name, actions_buttons(@specialite)

- if @specialite.dcis.any?
  %h2 DCI :
  %table#list
    - @specialite.dcis.each do |dci|
      = render 'shared/dci_line', dci: dci
- else
  Cette possibilité ne doit pas exister... pas de spécialités sans DCI normalement

= link_to 'Retour à la liste', specialites_path, class: 'btn btn-primary'
