- title @specialite.name

%ul.edit_actions
  - if permitted_to? :edit, :specialites
    %li= link_to "Modifier cette spécialité", edit_specialite_path(@specialite)
  - if permitted_to? :delete, :specialites
    %li= link_to "Détruire cette spécialité", @specialite, :confirm => 'Are you sure?', :method => :delete

- if !@specialite.dcis.blank?
  %h2 Composition :
  %ol
    = render :partial => "dcis/dci", :collection => @specialite.dcis
- else
  Cette possibilité ne doit pas exister... pas de spécialités sans DCI normalement
