- title "Demandes"

%table
  %tr
    %th Type
    %th Name
  - for demande in @demandes
    %tr
      %td= h demande.name
      %td= link_to 'Show', demande
      %td= link_to 'Edit', edit_demande_path(demande)
      %td= link_to 'Destroy', demande, :confirm => 'Are you sure?', :method => :delete
