- title "Liste des demandes de création"

%table
  %tr
    %th Type
    %th Libéllé
  - for demande in @demandes
    %tr
      %td= h demande.nature
      %td= h demande.name
      %td
        - actions_buttons(demande)

%p= link_to "New Demande", new_demande_path
