- title "Log in"
- semantic_form_for(@user_session) do |f|
  - f.inputs do
    = f.input :username, :label => 'Utilisateur'
    = f.input :password, :label => 'Mot de passe'
    = f.commit_button 'Se connecter'