%tr
  %td= link_to h(fiche.name), fiche
  %td= h fiche.decision.name rescue ""
  %td= h fiche.state.humanize rescue "" if permitted_to? :update, :fiches
  %td= link_to "Modifier", edit_fiche_path(fiche) if permitted_to? :edit, fiche
