.nested-fields
  = f.input :source_name, label: 'Nom de la source (existante)',
    input_html: { class: 'source-typeahead' }
  = link_to_remove_association 'Effacer', f, class: 'btn btn-xs btn-default'
