.box.news
  %strong Dernières MAJ :
  %ul
    - dcis_with_recent_fiches.each do |dci|
      - if can?(:show, dci)
        %li
          = link_to dci.name, dci_path(dci)
          - if (dci.fiches.recent.size > 1 && can?(:create, Fiche)) or dci.fiches.valide.recent.size > 1
            %ul
              - dci.fiches.recent.each do |fiche|
                - unless fiche.distinction.nil?
                  - if can?(:read, fiche)
                    %li= link_to "#{fiche.distinction.name} : #{fiche.distinction_name}", dci_fiche_path(fiche.dci, fiche)
